@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&display=swap");

/* font-family: 'Manrope', sans-serif; */

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --text-color: #18191f;
  --text-footer: #d9dbe1;
  --bg: #0b0d17;
  --accent: #8c30f5;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: "Manrope", sans-serif;
}

img {
  display: block;
}

.main-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Header */

.header {
  display: flex;
  align-items: center;

  height: 73px;
  border-bottom: 1px solid #e5e9f2;
}
.header-container {
  width: 1110px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.logo {
  margin-right: 40px;
}
.nav {
  margin-top: -4px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  color: var(--text-color);
}

.nav-link {
  margin-right: 32px;
  color: var(--text-color);
  text-decoration: none;
}

.nav-link:hover {
  color: var(--accent);
}

.nav-link:last-child {
  margin-right: 0;
}

.download {
  margin-left: auto;
  display: flex;
  column-gap: 12px;
}

/* Main */

.main-container {
  width: 1110px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 197px 0;
}

.main-content {
  width: 540px;
  font-size: 18px;
  color: var(--text-color);
}

.main-header {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 800;
  font-size: 72px;
  line-height: 1.36;
  color: var(--text-color);
}

.main-text {
  margin-bottom: 32px;
}

.main-text p {
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 1.78;
  color: var(--text-color);
}

.button {
  display: inline-block;
  padding: 0 35px;
  height: 62px;
  background: var(--accent);
  border-radius: 8px;

  font-weight: 700;
  font-size: 20px;
  line-height: 62px;
  color: #ffffff;
  text-decoration: none;
}

.button:hover {
  opacity: 0.8;
}

/* Footer */

.footer {
  display: flex;
  align-items: center;
  height: 72px;
  background-color: var(--bg);
  color: var(--text-footer);
}

.footer-container {
  width: 1110px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-copyright {
  font-size: 14px;
}

.footer-social {
  display: flex;
  column-gap: 16px;
}
